// Tailwind CSS 基础样式
@tailwind base;
// Tailwind CSS 组件样式
@tailwind components;
// Tailwind CSS 工具类样式
@tailwind utilities;

// 全局样式
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
}

// 滚动条样式
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #bbb;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.test-button {
  background-color: #faad14;
  border-color: #faad14;
  color: #fff;
}

.success-button {
  background-color: #52c41a;
  border-color: #52c41a;
  color: #fff;
}

.error-button {
  background-color: #ff4d4f;
  border-color: #ff4d4f;
  color: #fff;
}
